body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  transition: all 0.3s ease-in-out;
  padding-bottom: 5rem;
}

.form-group {
  padding: 4rem 0;
  opacity: 0.3;
}

.form-group.active {
  opacity: 1;
}

label {
  font-size: 1.8rem;
  display: block;
}

input[type='text'],
input[type='number'] {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  outline: none !important;
  border-color: #ccc !important;
  box-shadow: none !important;
  border-radius: 0;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  right: 0;
  background-color: rgba(204, 204, 204, 0.4);
  width: 100%;
  text-align: right;
}

.tracking-wide {
  letter-spacing: 0.125rem;
}

.index {
  font-size: 1rem;
  margin-right: 1rem;
}

.choice {
  background: #fff;
  border: 2px solid #007bff;
  margin: 1rem;
  padding: 2rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.choice.active,
.choice:hover {
  background: #007bff;
  color: #fff;
}

span.choice-icon {
  font-size: 4rem;
  color: #007bff;
  transition: all .2s ease-in-out;
}

.choice.active span.choice-icon,
.choice:hover span.choice-icon {
  color: #fff;
}
